<footer class="press">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p>
          <img data-src="holder.js/100x100" src="holder.js/100x100" class="img-thumbnail img-responsive">
          <a href="#" class="brand">University Press</a>
        </p>
        <ul class="list-inline">
          <li><a href="#">FB</a></li>
          <li><a href="#">I</a></li>
          <li><a href="#">T</a></li>
          <li><a href="#">YT</a></li>
        </ul>
      </div>
      <div class="col-sm-4">

      </div>
      <div class="col-sm-4 platform">

      </div>
    </div>
    <div class="row copyright">
      <div class="col-sm-12">
        <p>&copy; University Press 2016</p>
      </div>
    </div>
  </div>
</footer>
