/* GLOBAL */
/* Navigation */
.navbar {
  margin-bottom: 0px;
}

/* Footer */
footer.jumbotron {
  margin-bottom: 0px;
}

/* PRESS */
.press {

  /* Marketing */
  .jumbotron {
    padding-bottom: 10px;
    margin-bottom: 0px;
  }

  /* Navigation */
  nav.press {
    min-height: 50px;
    position: relative;
    margin-bottom: 30px;
    border-bottom: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    background-color: #eee;

    ul.nav {
      padding: 8px 0;
    }


  }



}
